.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-family: 'Special Elite', cursive;
  color: white;
}

.headline {
  margin-block-start: unset;
  margin-block-end: unset;
  padding: 10px 0px;
}
