.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-family: 'Special Elite', cursive;
  color: white;
}

.main.container {
	margin-top: 1%;
	background-color: #F1F7F8;
}
.headline {
  margin-block-start: unset;
  margin-block-end: unset;
  padding: 10px 0px;
  font-size: 62px;
  text-align: center;
}

a.social-icon {
	margin: 5% 5px;
	float: right;
}

.nav-links, .Head-Contain {
	margin: 0 5%;
}

.navbar, .main-nav {
	width: 100%;
}

.row, .container {
	padding-top: 1%;
	padding-bottom: 1%;
}

.projectHeader {
	margin-top: auto;
	margin-bottom: auto;
}

.construction {
	max-height: 75px;
}

.Head-Contain {
	max-width: unset;
	width: 90%;
}

.img-fluid {
}

@media (max-width: 1000px) {
	.headline {font-size: 54px;}
}

@media (max-width: 800px) {
	.headline {font-size: 34px;}
}

@media (max-width: 600px) {
	.headline {font-size: 20px;}
	a.social-icon {
		width: 40px !important;
		height: 40px !important;
	}
}

@media (max-width: 400px) {
	.headline {font-size: 15px;}
	a.social-icon {
		width: 30px !important;
		height: 30px !important;
		margin: 5% 1px;
	}
	a.nav-links {font-size: 12px;}
}